.header{
    color: navy;
    border-bottom: 1px;
    border-top: 3px solid blue;
    border-bottom: 3px solid blue;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.objective {   
    float: left;
    width: 55%;
  }
.contact {
    float: right;
    width: 40%;
    padding-left: 20px;
    border: 2px solid blue;
    border-spacing: 10px;
    margin-top: 10px; 
  }

.education{
    width: 55%
}
.experience{
    width: 55%
}
.skills{
    width: 55%;
}
.references{
    width: 55%;
}
h2 {
    font-size:30px;
    color: darkblue;
    border-bottom: 1px solid blue;
    padding-bottom:5px;
  }
  